<!DOCTYPE html>
<html>
<head>
    <title> Simple Blog </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

    <div id="main"></div>

    <script type="text/template" id="postView">
        <a href='/'>All Posts</a>
        <!--<a href='posts/{{id}}/comments/new' class="st-add-link">Add new comment</a>-->
        <h1>{{ title }}</h1>
        <p>{{ pubDate }}</p>
        {{ content }}
    </script>

    <script type="text/template" id="postFormView">
        <a href="/">All Posts</a><br />
        <input type="text" id="postTitle" placeholder="post title" /><br />
        <textarea id="postText"></textarea><br />
        <button id="submitPost"> Post </button>
    </script>

    <script type="text/template" id="commentView">
        <hr />
        <p><strong>{{name}}</strong> said on {{date}}: </p>
        <p>{{text}}</p>
    </script>

    <script type="text/template" id="commentFormView">
        <input type="text" id="cmtName" placeholder="name" /><br />
        <textarea id="cmtText"></textarea><br />
        <button id="submitComment"> Submit </button>
    </script>

    <script src="/jquery.js"></script>
    <script src="/underscore.js"></script>
    <script src="/backbone.js"></script>
    <script src="/app.js"></script>
    <script type="text/javascript">

        var postList = new Posts(<%- posts %>);

        //debugger;
        var postRouter = new PostRouter({
            posts: postList,
            main: $("#main")
        });
        Backbone.history.start({pushState: true});
    </script>
</body>
</html>
